{% extends "base.html" %}
{% block title %} Essensliebe {% endblock %}
{% block content %}

<section class="index-banner full-screen center-block">
        <div class="container">
           <div class="row">
              <div class="col-md-2 col-sm-1"></div>
              <div class="col-md-8 col-sm-10">
                 <div class="center-item text-center padding">
                    <h2 class="text-capitalize top50 bottom35  whitecolor">
                          <span class="font-xlight block">Essensliebe</span>
                          <span class="block fontbold"> Find Your
                             <span id="typewriting"></span> </span>
                       </h2>
                    <a href="/register/" class="button btnprimary" data-wow-delay="500ms">Get Matched</a>
                 </div>
              </div>
              <div class="col-md-2 col-sm-1"></div>
           </div>
        </div>
     </section>
     <!--Main Banner ends-->  
       
     <!--Some Feature -->  
     <section id="our-feature" class="padding single-feature">
        <div class="container">
           <div class="row">
              <div class="col-md-6 col-sm-7 text-md-left text-center wow fadeInLeft" data-wow-delay="300ms">
                 <div class="heading-title heading_space">
                    <span>Essensliebe</span>
                    <h2 class="darkcolor bottom30">Get matched based on food!</h2>
                 </div>
                 <p class="bottom35">How many times have you had bad food dates? Well with the aid of Essensliebe, you will never have to worry about that again. Sign-up now and begin your food love journey! </p>
                 <a href="#our-blog" class="button btnsecondary pagescroll">Register</a>
              </div>
              <div class="col-md-6 col-sm-5 wow fadeInRight" data-wow-delay="300ms">
                 <div class="image top5"><img alt="SEO" src="/media/media/feature-img-1.jpg"></div>
              </div>
           </div>
        </div>
     </section>
     <!--Some Feature ends-->          
        
     <!-- WOrk Process-->  
     <section id="our-process" class="padding gradient_bg_default">
        <div class="container">
           <div class="row">
              <div class="col-md-12 col-sm-12 text-center">
                 <div class="heading-title wow fadeInUp" data-wow-delay="300ms">
                    <h2 class="whitecolor">How It Works </h2>
                 </div>
              </div>
           </div>
           <div class="row">
              <ul class="process-wrapp">
                 <li class="whitecolor wow fadeInUp" data-wow-delay="300ms">
                    <span class="pro-step bottom20 right20">01</span>
                    <p class="fontbold bottom25 right20">Registration</p>
                    <p class="right20">Register your details in order to use the site.</p>
                 </li>
                 <li class="whitecolor wow fadeInUp" data-wow-delay="300ms">
                    <span class="pro-step bottom20">02</span>
                    <p class="fontbold bottom25">Prefrences</p>
                    <p>Fill out your prefrences details on your profile, in order to find best matches.</p>
                 </li>
                 <li class="whitecolor wow fadeInUp" data-wow-delay="300ms">
                    <span class="pro-step bottom20">03</span>
                    <p class="fontbold bottom25">Answer Questions</p>
                    <p>Answer questions in order to get the best matches custom to you.</p>
                 </li>
                 <li class="whitecolor wow fadeInUp" data-wow-delay="300ms">
                    <span class="pro-step bottom20">04</span>
                    <p class="fontbold bottom25">Find Matches</p>
                    <p>Check out the matches generated for you and send them a link, to chat and go on dates.</p>
                 </li>
                 <li class="whitecolor wow fadeInUp" data-wow-delay="300ms">
                    <span class="pro-step bottom20">05</span>
                    <p class="fontbold bottom25">Chat and Date</p>
                    <p>Once mutually liked, you can then get chatting and go on dates!</p>
                 </li>
              </ul>
           </div>
        </div>
     </section>
     <!--WOrk Process ends-->
     
     <!-- Our Team-->    
     <section id="our-team" class="padding bglight">
        <div class="container">
           <div class="row">
              <div class="col-md-8 offset-md-2 col-sm-12 text-center">
                 <div class="heading-title wow fadeInUp" data-wow-delay="300ms">
                    <span>Hear what the people say!</span>
                    <h2 class="darkcolor bottom20">Testimonials</h2>
                    <p class="bottom10">Don't just listen to what we say, here are a few satisfied users whom found their true love on this site!</p>
                 </div>
              </div>
           </div>
           <div class="row">
              <div class="col-lg-4 col-md-4">
                 <div class="team-box no-hover top60 wow fadeInUp" data-wow-delay="350ms">
                    <div class="image">
                       <img src="/media/media/team-4.jpg" alt="">
                    </div>
                    <div class="team-content gradient_bg">
                       <h3>Trevor William.</h3>
                       <p class="top10">"I never thought that I would find my true love through food, but here I am, happily married!"</p>
                    </div>
                 </div>
              </div>
              <div class="col-lg-4 col-md-4">
                 <div class="team-box no-hover top60 bottom10 wow fadeInUp" data-wow-delay="400ms">
                    <div class="image">
                       <img src="/media/media/team-6.jpg" alt="">
                    </div>
                    <div class="team-content gradient_bg">
                       <h3>Jhoanna Lane.</h3>
                       <p class="top10">"I have never had better dates in my life!</p>
                    </div>
                 </div>
              </div>
              <div class="col-lg-4 col-md-4 top60 wow fadeInUp" data-wow-delay="450ms">
                 <div class="team-box no-hover">
                    <div class="image">
                       <img src="/media/media/team-5.jpg" alt="">
                    </div>
                    <div class="team-content gradient_bg">
                       <h3>Michael David.</h3>
                       <p>She liked pizza and I liked pizza, now we've been together for 3 years!</p>
                    </div>
                 </div>
              </div>
           </div>
        </div>
     </section>
     <!-- Our Team ends--> 
          
     <!-- Counters -->  
     <section id="funfacts" class="padding_top fact-iconic gradient_bg">
        <div class="container">
           <div class="row">
              <div class="col-md-5 col-sm-12 margin_bottom whitecolor text-md-left text-center wow fadeInUp" data-wow-delay="300ms">
                 <h3 class="bottom25">Our Progress.</h3>
                 <p class="title">On Essensliebe we do our best to provide you with the best of matches so you can find your true love.</p>
              </div>
              <div class="col-md-7 col-sm-12 text-center">
                 <div class="row">
                    <div class="col-md-4 col-sm-4 icon-counters whitecolor margin_bottom wow fadeInUp" data-wow-delay="350ms">
                       <div class="img-icon bottom15">
                          <i class="fa fa-smile-o"></i>
                       </div>
                       <div class="counters">
                          <span class="count_nums" data-to="200" data-speed="2500"> </span> <i class="fa fa-plus"></i>
                       </div>
                       <p class="title">Satisfied Users</p>
                    </div>
                    <div class="col-md-4 col-sm-4 icon-counters whitecolor margin_bottom wow fadeInUp" data-wow-delay="400ms">
                       <div class="img-icon bottom15">
                          <i class="fa fa-cutlery"> </i>
                       </div>
                       <div class="counters">
                          <span class="count_nums" data-to="100" data-speed="2500"> </span> <i class="fa fa-plus"></i>
                       </div>
                       <p class="title">Successful dates have been shared.</p>
                    </div>
                    <div class="col-md-4 col-sm-4 icon-counters whitecolor margin_bottom wow fadeInUp" data-wow-delay="500ms">
                       <div class="img-icon bottom15">
                          <i class="fa fa-heart"></i>
                       </div>
                       <div class="counters">
                          <span class="count_nums" data-to="60" data-speed="2500"> </span> <i class="fa fa-plus"></i>
                       </div>
                       <p class="title">People have found their soulmate.</p>
                    </div>
                 </div>
              </div>
           </div>
        </div>
     </section>
     <!--Counters ends-->  
       
     <!-- Contact US -->  
     <section id="contactus" class="padding_top">
        <div class="container">
           <div class="row">
             <div class="col-md-12 col-sm-12">
                <div class="heading-title heading_space wow fadeInUp" data-wow-delay="300ms">
                    <center><span>Lets Get In Touch</span></center>
                    <center><h2 class="darkcolor">Contact Us</h2></center>
                 </div>
             </div>
              <div class="col-md-12 col-sm-12 margin_bottom wow fadeInUp" data-wow-delay="300ms">
                 <p>Love is something that all people deserve and here at Essensliebe it is our priority. Which is why we welcome your feedback very much. Feel free to send us questions and suggestions in the form to the right.</p>
                 <div class="row">
                    <div class="col-md-6 col-sm-6 our-address top40">
                       <h5 class="bottom25">Our Address</h5>
                       <p class="bottom15">123 FoodLove Street, Melbourne, Victoria.</p>

                    </div>
                    <div class="col-md-6 col-sm-6 our-address top40">
                       <h5 class="bottom25">Our Phone</h5>
                       <p class="bottom15">Office Telephone : 091335486 </p>

                    </div>
                    <div class="col-md-6 col-sm-6 our-address top40">
                       <h5 class="bottom25">Our Email</h5>
                       <p class="bottom15">Main Email : admin@essnsliebe.com <span class="block">Inquiries : inquiries@essensliebe.com</span> </p>

                    </div>
                 </div>
              </div>
           </div>
        </div>
     </section>
{% endblock %}