{% extends "base.html" %}
{% block title %} Profile {% endblock %}
{% block content %}
<div class="container">
    <h2>{{profile.user}}</h2>
    <img class="profile_image" src="{{profile.picture.url}}">
    <br><br>
    {% if profile.user == request.user %}
    <a href="/profile/{{profile.user.username}}/edit" class="btn btn-primary active">Edit profile</a>
    <a href="/profile/prefrences" class="btn btn-primary active">Edit prefrences</a>
    <br><br>
    {% endif %}
{% if profile.user != request.user %}
    <p>Match: {{matches.get_percent}}</p>
{% endif %}
    <p>Location: {{profile.location}}</p>
    <p>Age: {{profile.age}}</p>
    <p>Sex: {{profile.sex}}</p>
    <p>First Name: {{profile.user.first_name}}</p>
    <p>Last Name: {{profile.user.last_name}}</p>
    <p>Ethnicity: {{profile.ethnicity}}</p>
    <p>Description: {{profile.description}}</p>

</div>
{% endblock %}